.pf1-v2 {
  :is(input, select) {
    &:disabled {
      &:after {
        color: var(--color-text-dark-secondary) !important;
      }
    }
  }

  .hint {
    color: var(--color-form-hint-hover);
    font-size: var(--font-size-14);
  }

  .warning {
    color: var(--pf1-v2-text-warning);
    font-size: var(--font-size-14);
  }

  .form-footer {
    display: flex;
  }
}

.theme-dark {
  .pf1-v2 {
    table {
      thead {
        background-color: rgba(255, 255, 255, 0.15);
      }

      tr:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

@keyframes pf1-constant-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
