:root {
  --pf1-quick-action-default-border: gray;
  --pf1-quick-action-attack-border: crimson;
  --pf1-quick-action-weapon-border: silver;
  --pf1-quick-action-equipment-border: violet;
  --pf1-quick-action-consumable-border: limegreen;
  --pf1-quick-action-feat-border: darkorange;
  --pf1-quick-action-spell-border: blueviolet;

  --pf1-item-hover-text: #000;
  --pf1-item-hover-shadow: 0 0 10px red;

  --pf1-item-list-hover-bg: rgba(140, 130, 110, 0.25);
  --pf1-item-list-hover-text: black;
  --pf1-item-list-bg: rgba(175, 175, 175, 0.3);
  --pf1-item-list-bg-alt: rgba(210, 210, 210, 0.3);
}
