*.js text eol=lf
*.ts text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.less text eol=lf
*.hbs text eol=lf
*.html text eol=lf

# Prevent reformatting
*.ttf binary
*.woff binary
*.woff2 binary

*.svg binary
*.png binary
*.jpg binary
*.webp binary
