/* This is necessary to load fonts from the right location in the dev server */
@font-face {
  font-family: 'RPGAwesome';
  src: url("systems/pf1/fonts/rpgawesome-webfont.eot?v=0.1.0");
  src: url("systems/pf1/fonts/rpgawesome-webfont.eot?#iefix&v=0.1.0") format("embedded-opentype"), url("fonts/rpgawesome-webfont.woff?v=0.1.0") format("woff"), url("fonts/rpgawesome-webfont.ttf?v=0.1.0") format("truetype"), url("fonts/rpgawesome-webfont.svg?v=0.1.0#rpg-awesome") format("svg");
  font-weight: normal;
  font-style: normal;
}
