.pf1.sheet {
ul.skills-list {
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  border: @borderGroove;
  border-radius: 3px;

  .skill-controls {
    // Add skill button
    margin-left: 0.5em;
  }

  .skill {
    padding-left: 0.3em;
  }

  .sub-skill {
    padding-left: 2.2em;
  }

  li.skill,
  li.sub-skill {
    display: grid;
    grid-template-columns: auto 24px 3em repeat(5, 4em) 40px;
    height: 2em;

    .itemBackground();

    &.untrained {
      .skill-name {
        color: rgba(0, 0, 0, 0.6);
      }

      .action.roll {
        > i {
          opacity: 60%;

          &:hover {
            animation: 0;
          }
        }
      }
    }

    .skill-name {
      display: inline-flex;
      font-size: @fontSizeEnlarged;

      h4,
      input[type="text"] {
        display: inline-block;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
      }

      h4 {
        // Remove inherited borders
        border: unset;
      }

      .compendium-entry > h4 {
        border-bottom: 1px #111 dotted;
      }

      .compendium-entry:hover .compendium-icon {
        visibility: visible;
      }

      .compendium-icon {
        visibility: hidden;
        flex: 0 0 24px;
        margin-left: 5px;
        position: relative;
        top: -4px;
      }

      .skill-control {
        display: inline-flex;
        align-items: center;

        .fas {
          display: inline-block;
          text-align: center;
          width: 24px;
        }
      }
    }

    .checkbox {
      font-size: @fontSizeNormal;
    }

    .skill-ability {
    }

    .skill-mod {
      line-height: 1.5;
      font-weight: bold;
      text-align: center;
      border: 1px dotted #111;
      cursor: initial;
    }

    .skill-rank {
      border-bottom: @borderGroove;
    }

    .skill-controls {
    }

    input[type="text"] {
      height: auto;
    }
  }

  li.sub-skill .skill-name input[type="text"] {
    padding-left: 8px;
  }
}
}
