<fieldset class="pf1 token-sizing">
	<legend>{{localize "PF1.Title"}}</legend>

	<div class="form-group" data-tooltip="PF1.StaticSizeHint">
		<label>{{localize "PF1.StaticSize"}}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.pf1.staticSize" data-dtype="Boolean" {{checked flags.staticSize}}>
		</div>
	</div>
</fieldset>
