{{#if portrait}}
    <div class="portrait">
        <img src="{{portrait.url}}" style="max-width: {{portrait.maxWidth}}px; max-height: {{portrait.maxHeight}}px;"/>
    </div>
{{/if}}

<h1>{{data.name}}</h1>
