.app.pf1.changelog form {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  gap: 0.5em;

  header {
    text-align: center;
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    gap: 0 3px;

    border-bottom: var(--pf1-border-groove);
    background: rgba(155, 155, 155, 0.3);
    border-radius: 12px 12px 0 0;
    font-size: var(--font-size-18);

    > .item {
      line-height: var(--pf1-nav-height);
      height: var(--pf1-nav-height);
      margin: 0;
      white-space: nowrap;
      border: 1px solid transparent;
      border-radius: 12px 12px 0 0;
      flex: 1;

      &:hover {
        background: rgba(155, 155, 155, 0.2);
      }

      &.active {
        background: rgba(155, 155, 155, 0.5);
      }
    }
  }

  footer {
    border-top: var(--pf1-border-groove);
  }

  .content {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    flex: 1;

    > .tab {
      li {
        user-select: text;
      }

      code {
        background-color: var(--pf1-bg-dark-0);
        padding: 0 3px;
        border-radius: 7px;
      }

      overflow-y: scroll;
      .scrollbar();

      li > ul {
        margin: 0;
      }

      &.error {
        text-align: center;
      }
    }
  }
}
