.pf1.sheet:is(.actor, .item) form {
  .tab.description {
    nav {
      flex: 0;
    }

    header.statistics {
      padding: 0 5px; // Match general tab styling
    }

    .description-container {
      flex: 1;
      height: 100%;
    }

    h3 {
      margin: 0;
    }
  }
}
