<div class="form-group {{data.weaponGroups.cssClass}} tooltip">
  <label for="data.weaponGroups">{{localize "PF1.WeaponGroups"}}</label>
  <ul class="traits-list tag-list">
    {{#each data.weaponGroups.selected as |v k|}}
      <li class="tag {{k}}">{{v}}</li>
    {{/each}}
  </ul>
  <a class="trait-selector" data-options="weaponGroups"><i class="fas fa-edit"></i></a>
</div>