<div class="controls">
  <a class="delete" data-tooltip="PF1.Delete" data-change-id="{{changeId}}">
    <i class="fas fa-trash"></i>
  </a>
  <a class="duplicate" data-tooltip="PF1.Duplicate" data-change-id="{{changeId}}">
    <i class="fas fa-copy"></i>
  </a>
  <a class="edit" data-tooltip="PF1.Edit" data-change-id="{{changeId}}">
    <i class="fas fa-edit"></i>
  </a>
</div>
