<div class="flexcol property-group gm-sensitive {{css}}">
	<label>{{localize title}}</label>
	<div class="flexrow tag-list">
		{{#each notes}}
		<span class="tag">{{{this}}}</span>
		{{/each}}
	</div>
</div>
