{{!-- Defenses Header --}}
<ul class="attributes flexrow">
  {{!-- Roll Defenses --}}
  <li class="generic-defenses flexrow">
    <div class="rollable image-d20"></div>
    <h3>{{localize "PF1.Defenses"}}</h3>
  </li>

  {{!-- Natural Armor --}}
  <li class="natural-armor flexrow">
    <h3>{{localize "PF1.BuffTarACNatural"}}</h3>
    <input class="select-on-click" type="text" name="data.attributes.naturalAC" value="{{data.attributes.naturalAC}}" placeholder="0" data-dtype="Number"/>
  </li>

  <li class="flexrow">
    <h3>{{localize "PF1.SpellResistance"}}</h3>
    <input name="data.attributes.sr.formula" type="text" placeholder="{{localize "PF1.Formula"}}"
      value="{{#if data.attributes.sr.formula}}{{data.attributes.sr.formula}}{{/if}}"/>
  </li>
</ul>

{{> "systems/pf1/templates/actors/parts/actor-defenses_tables.html"}}

<div class="attributes defense-notes flexcol scroll-primary" data-scroll-index="defense-notes">
  <div class="flexrow">
    <label><h3>{{localize "PF1.SaveNotes"}}</h3></label>
    <textarea name="data.attributes.saveNotes" placeholder="{{localize "PF1.SaveNotes"}}">{{data.attributes.saveNotes}}</textarea>
  </div>
  <hr>
  <div class="flexrow">
    <label><h3>{{localize "PF1.ACNotes"}}</h3></label>
    <textarea name="data.attributes.acNotes" placeholder="{{localize "PF1.ACNotes"}}">{{data.attributes.acNotes}}</textarea>
  </div>
  <hr>
  <div class="flexrow">
    <label><h3>{{localize "PF1.CMDNotes"}}</h3></label>
    <textarea name="data.attributes.cmdNotes" placeholder="{{localize "PF1.CMDNotes"}}">{{data.attributes.cmdNotes}}</textarea>
  </div>
  <hr>
  <div class="flexrow">
    <label><h3>{{localize "PF1.SpellResistanceNotes"}}</h3></label>
    <textarea name="data.attributes.srNotes" placeholder="{{localize "PF1.SpellResistanceNotes"}}">{{data.attributes.srNotes}}</textarea>
  </div>
  <hr>
</div>
