<h2>{{localize "PF1.ChooseAnAction"}}</h2>

<div class="actions">
  {{#each actions}}
  <div class="action" data-action="{{id}}">
    <img src="{{img}}">
    <span class="name">{{name}}</span>
  </div>
  {{/each}}
</div>
