<nav class="top-bar">
    {{#if hasHistoryBack}}
    <a class="history-back"><i class="fas fa-arrow-left"></i></a>
    {{else}}
    <i class="fas fa-arrow-left gray"></i>
    {{/if}}

    <a class="history-home"><i class="fas fa-home"></i></a>

    {{#if hasHistoryForward}}
    <a class="history-forward"><i class="fas fa-arrow-right"></i></a>
    {{else}}
    <i class="fas fa-arrow-right gray"></i>
    {{/if}}
</nav>

<div class="primary flexrow">
    <section class="content" data-url="{{url}}">
        {{{pageContent}}}
    </section>
</div>
